In [253]:
# datos garmin --> average heart rate per dia 
# scraping --> resultats, jornada, dia
# creuar les dos dates i veure com es el meu heart rate la mitja dels dies que tinc partit i el dia despres vs els altres dies

In [254]:
import requests
from bs4 import BeautifulSoup
import numpy as np

# The URL of the website
url = "https://www.fcf.cat/resultats/2223/futbol-sala/lliga-primera-divisio-catalana-futbol-sala/bcn-gr-2/jornada-1"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.text, 'lxml')

    # Find the scores by inspecting the page's HTML structure
    scores = []

    # Assuming scores are contained within <div> elements with a specific class
    score_divs = soup.find_all('div', class_='tc fs-17 white bg-darkgrey p-r')  # Replace 'score-class' with the actual class

    for score_div in score_divs:
        # Extract the score text (you may need to adjust this based on the HTML structure)
        score = score_div.text.strip()
        scores.append(score)

    # Print the extracted scores
    for i, score in enumerate(scores, start=1):
        print(f"Match {i}: {score}")
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

Match 1: 5 - 4
Match 2: 0 - 5
Match 3: 6 - 8
Match 4: 5 - 8
Match 5: 11 - 2
Match 6: 3 - 7
Match 7: 4 - 5

In [255]:
import requests
from bs4 import BeautifulSoup

# The URL of the website
url = "https://www.fcf.cat/resultats/2223/futbol-sala/lliga-primera-divisio-catalana-futbol-sala/bcn-gr-2/jornada-1"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.text, 'lxml')

    # Find the result for "SD ESPANYOL B" by inspecting the page's HTML structure
    result = None

    # Assuming the team names and scores are contained within specific HTML elements
    matches = soup.find_all('table', class_='uppercase w-100 fs-12_tp fs-11_ml table_resultats')  # Replace 'match-class' with the actual class

    for match in matches:
        # Extract the team names and scores (you may need to adjust this based on the HTML structure)
        team1 = match.find('td', {"class" : 'p-5 resultats-w-equip tr'}).text.strip()  # Replace 'team1-class' with the correct class
        team2 = match.find('td', {"class" : 'p-5 resultats-w-equip tl'}).text.strip()  # Replace 'team2-class' with the correct class
        score = match.find('td', {"class" : 'p-5 resultats-w-resultat tc'}).text.strip().replace("ACTA TANCADA", "")  # Replace 'score-class' with the correct class

        # Check if the match involves "SD ESPANYOL B" (or the correct representation)
        if "SD ESPANYOL B" in team1 or "SD ESPANYOL B" in team2:
            result = f"{team1} {score} {team2}"
            break  # Exit the loop if the result is found

    if result:
        print(f" {result}")
    else:
        print("SD ESPANYOL B not found in the results.")
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

 SD ESPANYOL B

0 - 5 C.E.DMS  A

In [256]:
import requests
from bs4 import BeautifulSoup

# URL base de las jornadas
base_url = "https://www.fcf.cat/resultats/2223/futbol-sala/lliga-primera-divisio-catalana-futbol-sala/bcn-gr-2/jornada-"

# Nombre del equipo a buscar
team_to_find = "SD ESPANYOL B"

# Recorrer las jornadas de la 1 a la 26
for jornada in range(1, 27):
    url = f"{base_url}{jornada}"
    
    # Enviar una solicitud HTTP GET a la URL
    response = requests.get(url)
    
    # Verificar si la solicitud fue exitosa (código de estado 200)
    if response.status_code == 200:
        # Analizar el contenido HTML de la página
        soup = BeautifulSoup(response.text, 'lxml')

        # Buscar el resultado para "SD ESPANYOL B" en esta jornada
        result = None

        # Supongamos que los nombres de los equipos y los resultados están en elementos HTML específicos
        matches = soup.find_all('table', class_='uppercase w-100 fs-12_tp fs-11_ml table_resultats')  # Reemplaza 'match-class' por la clase real

        for match in matches:
            # Extraer los nombres de los equipos y los resultados (ajusta según la estructura HTML)
            team1 = match.find('td', {"class": 'p-5 resultats-w-equip tr'}).text.strip()  # Reemplaza 'team1-class' por la clase correcta
            team2 = match.find('td', {"class": 'p-5 resultats-w-equip tl'}).text.strip()  # Reemplaza 'team2-class' por la clase correcta
            score = match.find('td', {"class": 'p-5 resultats-w-resultat tc'}).text.strip().replace("ACTA TANCADA", "")  # Reemplaza 'score-class' por la clase correcta

            # Verificar si el partido involucra a "SD ESPANYOL B" (o la representación correcta)
            if team_to_find in team1 or team_to_find in team2:
                result = f"{team1} {score} {team2}"
                break  # Salir del bucle si se encuentra el resultado

        if result:
            print(f"Jornada {jornada}: {result}")
        else:
            print(f"SD ESPANYOL B no se encontró en los resultados de la jornada {jornada}")
    else:
        print(f"Fallo al recuperar la página de la jornada {jornada}. Código de estado: {response.status_code}")

Jornada 1: SD ESPANYOL B

0 - 5 C.E.DMS  A
Jornada 2: FUNDACIÓ FUTBOL BADALONA A

4 - 8 SD ESPANYOL B
Jornada 3: SD ESPANYOL B

1 - 1 AELIS-SAGE PARTNER EIXAMPLE B
Jornada 4: FUTSAL CLASSIC BARCELONA, CLUB ESPORTIU  A

3 - 5 SD ESPANYOL B
Jornada 5: SD ESPANYOL B

7 - 3 SANT ANDREU SAGRERA - AESA A
Jornada 6: PLAY FUTSAL A

6 - 4 SD ESPANYOL B
Jornada 7: SD ESPANYOL B

5 - 6 ALZINA ASSOC. ESP. A
Jornada 8: MONTSENY CECD A

2 - 5 SD ESPANYOL B
Jornada 9: SD ESPANYOL B

0 - 3 MAGIC SANTS FUTSAL B
Jornada 10: F.S  BOSCO ROCAFORT A

7 - 4 SD ESPANYOL B
Jornada 11: SD ESPANYOL B

0 - 4 FUTSAL ROSARIO CENTRAL A
Jornada 12: BADALONA FUTSAL IRIS A

5 - 2 SD ESPANYOL B
Jornada 13: LES CORTS ESPORTIU FUTSAL B

2 - 6 SD ESPANYOL B
Jornada 14: C.E.DMS  A

6 - 6 SD ESPANYOL B
Jornada 15: SD ESPANYOL B

4 - 3 FUNDACIÓ FUTBOL BADALONA A
Jornada 16: AELIS-SAGE PARTNER EIXAMPLE B

4 - 6 SD ESPANYOL B
Jornada 17: SD ESPANYOL B

9 - 3 FUTSAL CLASSIC BARCELONA, CLUB ESPORTIU  A
Jornada 18: SANT ANDREU SAGRERA - AESA A

5 - 3 SD ESPANYOL B
Jornada 19: SD ESPANYOL B

7 - 7 PLAY FUTSAL A
Jornada 20: ALZINA ASSOC. ESP. A

7 - 5 SD ESPANYOL B
Jornada 21: SD ESPANYOL B

9 - 5 MONTSENY CECD A
Jornada 22: MAGIC SANTS FUTSAL B

3 - 5 SD ESPANYOL B
Jornada 23: SD ESPANYOL B

3 - 4 F.S  BOSCO ROCAFORT A
Jornada 24: FUTSAL ROSARIO CENTRAL A

1 - 3 SD ESPANYOL B
Jornada 25: SD ESPANYOL B

4 - 7 BADALONA FUTSAL IRIS A
Jornada 26: SD ESPANYOL B

2 - 1 LES CORTS ESPORTIU FUTSAL B

In [257]:
# dies i jornades

import requests
from bs4 import BeautifulSoup

# The URL of the website
url = "https://www.fcf.cat/calendari/2223/futbol-sala/lliga-primera-divisio-catalana-futbol-sala/bcn-gr-2"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.text, 'lxml')

    # Find the JORNADA and DATE by inspecting the page's HTML structure
    jornada = soup.find('th', {'colspan': '4'}).text.strip()
    date = soup.find('th', {'colspan': '3'}).text.strip()

    # Print the extracted JORNADA and DATE
    print(f"JORNADA: {jornada}")
    print(f"DATE: {date}")
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

JORNADA: Jornada 1
DATE: 15-10-2022

In [258]:


# The URL of the website
url = "https://www.fcf.cat/calendari/2223/futbol-sala/lliga-primera-divisio-catalana-futbol-sala/bcn-gr-2"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.text, 'lxml')

    # Find all JORNADAS and DATES by inspecting the page's HTML structure
    jornadas_and_dates = []

    # Assuming the JORNADAS and DATES are contained within specific HTML elements
    jornada_elements = soup.find_all('th', {'colspan': '4'})
    date_elements = soup.find_all('th', {'colspan': '3'})

    # Iterate through the elements and collect the information
    for jornada, date in zip(jornada_elements, date_elements):
        jornada_text = jornada.text.strip()
        date_text = date.text.strip()
        jornadas_and_dates.append((jornada_text, date_text))

    # Print the extracted JORNADAS and DATES
    for i, (jornada, date) in enumerate(jornadas_and_dates, start=1):
        print(f"JORNADA {i}: {jornada}")
        print(f"FECHA {i}: {date}")
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

JORNADA 1: Jornada 1
FECHA 1: 15-10-2022
JORNADA 2: Jornada 2
FECHA 2: 22-10-2022
JORNADA 3: Jornada 3
FECHA 3: 29-10-2022
JORNADA 4: Jornada 4
FECHA 4: 05-11-2022
JORNADA 5: Jornada 5
FECHA 5: 12-11-2022
JORNADA 6: Jornada 6
FECHA 6: 19-11-2022
JORNADA 7: Jornada 7
FECHA 7: 26-11-2022
JORNADA 8: Jornada 8
FECHA 8: 03-12-2022
JORNADA 9: Jornada 9
FECHA 9: 17-12-2022
JORNADA 10: Jornada 10
FECHA 10: 14-01-2023
JORNADA 11: Jornada 11
FECHA 11: 21-01-2023
JORNADA 12: Jornada 12
FECHA 12: 04-02-2023
JORNADA 13: Jornada 13
FECHA 13: 11-02-2023
JORNADA 14: Jornada 14
FECHA 14: 25-02-2023
JORNADA 15: Jornada 15
FECHA 15: 04-03-2023
JORNADA 16: Jornada 16
FECHA 16: 11-03-2023
JORNADA 17: Jornada 17
FECHA 17: 18-03-2023
JORNADA 18: Jornada 18
FECHA 18: 25-03-2023
JORNADA 19: Jornada 19
FECHA 19: 01-04-2023
JORNADA 20: Jornada 20
FECHA 20: 15-04-2023
JORNADA 21: Jornada 21
FECHA 21: 22-04-2023
JORNADA 22: Jornada 22
FECHA 22: 29-04-2023
JORNADA 23: Jornada 23
FECHA 23: 06-05-2023
JORNADA 24: Jornada 24
FECHA 24: 13-05-2023
JORNADA 25: Jornada 25
FECHA 25: 20-05-2023
JORNADA 26: Jornada 26
FECHA 26: 27-05-2023

In [275]:
import pandas as pd
df = pd.read_csv("../../Desktop/FREQUENCIA_CARDIACA_OK.csv")
df
df.drop("Unnamed: 3", axis=1, inplace=True)
df.drop("Unnamed: 4", axis=1, inplace = True)
type(df)
df

     2022       FECHA  FRECUENCIA CARDIACA EN REPOSO
0    2022  January-22                             50
1    2022  January-23                             47
2    2022  January-24                             44
3    2022  January-25                             47
4    2022  January-26                             45
..    ...         ...                            ...
451  2023  October-23                             55
452  2023  October-24                             50
453  2023  October-25                             44
454  2023  October-26                             40
455  2023  October-27                             50

[456 rows x 3 columns]

In [276]:
#string into date int
df["FECHA"] = pd.to_datetime(df["FECHA"], format='%B-%d').dt.strftime('%m/%d')

#getting rid of the Zeros
df['2022'] = df['2022'].astype(str).str.rstrip('.0')
df

     2022  FECHA  FRECUENCIA CARDIACA EN REPOSO
0    2022  01/22                             50
1    2022  01/23                             47
2    2022  01/24                             44
3    2022  01/25                             47
4    2022  01/26                             45
..    ...    ...                            ...
451  2023  10/23                             55
452  2023  10/24                             50
453  2023  10/25                             44
454  2023  10/26                             40
455  2023  10/27                             50

[456 rows x 3 columns]

In [277]:
# New column with all date together
df['Combined_Date'] = df['2022'].astype(str) + '/' + df['FECHA']
df['Combined_Date'] = df['Combined_Date'].str.replace('/', '-')
df

     2022  FECHA  FRECUENCIA CARDIACA EN REPOSO Combined_Date
0    2022  01/22                             50    2022-01-22
1    2022  01/23                             47    2022-01-23
2    2022  01/24                             44    2022-01-24
3    2022  01/25                             47    2022-01-25
4    2022  01/26                             45    2022-01-26
..    ...    ...                            ...           ...
451  2023  10/23                             55    2023-10-23
452  2023  10/24                             50    2023-10-24
453  2023  10/25                             44    2023-10-25
454  2023  10/26                             40    2023-10-26
455  2023  10/27                             50    2023-10-27

[456 rows x 4 columns]

In [281]:




# Convert the 'Date' column to a datetime object
df['Combined_Date'] = pd.to_datetime(df['Combined_Date'])

# Create a new column with the day of the week
df['Day_of_Week'] = df['Combined_Date'].dt.day_name()

# Print the updated DataFrame
df

df

     2022  FECHA  FRECUENCIA CARDIACA EN REPOSO Combined_Date Day_of_Week
0    2022  01/22                             50    2022-01-22    Saturday
1    2022  01/23                             47    2022-01-23      Sunday
2    2022  01/24                             44    2022-01-24      Monday
3    2022  01/25                             47    2022-01-25     Tuesday
4    2022  01/26                             45    2022-01-26   Wednesday
..    ...    ...                            ...           ...         ...
451  2023  10/23                             55    2023-10-23      Monday
452  2023  10/24                             50    2023-10-24     Tuesday
453  2023  10/25                             44    2023-10-25   Wednesday
454  2023  10/26                             40    2023-10-26    Thursday
455  2023  10/27                             50    2023-10-27      Friday

[456 rows x 5 columns]

In [ ]:
df["2022"].isna()

0      False
1      False
2      False
3      False
4      False
       ...
451    False
452    False
453    False
454    False
455    False
Name: 2022, Length: 456, dtype: bool

In [ ]:


# Convert the 'COMBINED_DATE' column to datetime
df['Reformatted_Date'] = pd.to_datetime(df['Reformatted_Date'], format='%Y-%d-%m', errors='coerce')

# Convert the 'COMBINED_DATE' column to the desired format


# Print the cleaned DataFrame
print(df)

     2022  FECHA  FRECUENCIA CARDIACA EN REPOSO Combined_Date  \
0    2022  01/22                             50    2022-01-22
1    2022  01/23                             47    2022-01-23
2    2022  01/24                             44    2022-01-24
3    2022  01/25                             47    2022-01-25
4    2022  01/26                             45    2022-01-26
..    ...    ...                            ...           ...
451  2023  10/23                             55    2023-10-23
452  2023  10/24                             50    2023-10-24
453  2023  10/25                             44    2023-10-25
454  2023  10/26                             40    2023-10-26
455  2023  10/27                             50    2023-10-27

    Reformatted_Date Day_of_Week Reformatted_Date_ok
0         2022-01-22    Saturday          2022-01-22
1         2022-01-23      Sunday          2022-01-23
2         2022-01-24      Monday          2022-01-24
3         2022-01-25     Tuesday          2022-01-25
4         2022-01-26   Wednesday          2022-01-26
..               ...         ...                 ...
451       2023-10-23      Monday          2023-10-23
452       2023-10-24     Tuesday          2023-10-24
453       2023-10-25   Wednesday          2023-10-25
454       2023-10-26    Thursday          2023-10-26
455       2023-10-27      Friday          2023-10-27

[456 rows x 7 columns]

In [ ]:
df

,2022,FECHA,FRECUENCIA CARDIACA EN REPOSO,Combined_Date,Reformatted_Date,Day_of_Week,Reformatted_Date_ok
0,2022,01/22,50,2022-01-22,2022-01-22,Saturday,2022-01-22
1,2022,01/23,47,2022-01-23,2022-01-23,Sunday,2022-01-23
2,2022,01/24,44,2022-01-24,2022-01-24,Monday,2022-01-24
3,2022,01/25,47,2022-01-25,2022-01-25,Tuesday,2022-01-25
4,2022,01/26,45,2022-01-26,2022-01-26,Wednesday,2022-01-26
...,...,...,...,...,...,...,...
451,2023,10/23,55,2023-10-23,2023-10-23,Monday,2023-10-23
452,2023,10/24,50,2023-10-24,2023-10-24,Tuesday,2023-10-24
453,2023,10/25,44,2023-10-25,2023-10-25,Wednesday,2023-10-25
454,2023,10/26,40,2023-10-26,2023-10-26,Thursday,2023-10-26
455,2023,10/27,50,2023-10-27,2023-10-27,Friday,2023-10-27